## Importing Libraries

In [78]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

## Reading Data

In [144]:
BASE_DIR = r"C:\Users\hp\Desktop\flights-project"
DATA_DIR = "data"
RAW_DATA_DIR = "raw"
PROCESSED_DATA_DIR = "processed"
WORKING_DATA_DIR = "working"

In [81]:
def get_data(filename):
    file_name = f"{filename.strip()}.csv"
    file_path = os.path.join(BASE_DIR, DATA_DIR, RAW_DATA_DIR, file_name)
    df = pd.read_csv(file_path)
    return df

In [82]:
df = get_data('flight_price')

In [83]:
df.shape

(10683, 11)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

### Observations

- The dataset contains 10,683 rows/entries and 11 features
- Column `Route` and `Total_Stops` has single missing value
- Some columns has not appropriate datatype

## Preliminary Analysis

###  1. Check Data Types

In [85]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [86]:
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [87]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [88]:
df['Date_of_Journey'].iloc[5]

'24/06/2019'

In [89]:
df['Dep_Time'].iloc[7]

'08:00'

### 2. Check for Duplicates

In [90]:
df.duplicated().sum()

220

In [91]:
df.loc[df.duplicated(keep=False)].sort_values(['Airline', 'Date_of_Journey', 'Source', 'Destination'])

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
6321,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
9848,Air India,01/03/2019,Banglore,New Delhi,BLR → BOM → AMD → DEL,08:50,23:55 02 Mar,39h 5m,2 stops,No info,17135
572,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
8168,Air India,03/03/2019,Banglore,New Delhi,BLR → DEL,21:10,23:55,2h 45m,non-stop,No info,7591
1495,Air India,1/04/2019,Kolkata,Banglore,CCU → DEL → COK → BLR,10:00,01:20 02 Apr,15h 20m,2 stops,No info,10408
...,...,...,...,...,...,...,...,...,...,...,...
2692,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,05:45,08:35,2h 50m,non-stop,No check-in baggage included,4273
2870,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,05:45,08:35,2h 50m,non-stop,No check-in baggage included,4273
3711,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,20:30,23:20,2h 50m,non-stop,No check-in baggage included,3873
2634,Vistara,24/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,5403
5470,Vistara,24/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,5403

### 3. Observations

- Columns `Date_of_Journey`, `Dep_time`, `Arrival_Time` should have DateTime datatype 
- Columns `Duration`, `Total_Stops` should be numeric
- Column `Route` has special character to give meaning to each values
- Dataset contains `220` duplicates rows

## Detailed Analysis

#### Airline

In [92]:
df['Airline'].isnull().sum()

0

In [93]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

- Some of values in `Airline` column have redundant unique values

#### Date of Journey

In [94]:
df['Date_of_Journey'].dtype

dtype('O')

In [95]:
df['Date_of_Journey'].isnull().sum()

0

In [96]:
df['Date_of_Journey'].head()

0    24/03/2019
1     1/05/2019
2     9/06/2019
3    12/05/2019
4    01/03/2019
Name: Date_of_Journey, dtype: object

In [97]:
pd.to_datetime(df['Date_of_Journey'], dayfirst=True)

0       2019-03-24
1       2019-05-01
2       2019-06-09
3       2019-05-12
4       2019-03-01
           ...
10678   2019-04-09
10679   2019-04-27
10680   2019-04-27
10681   2019-03-01
10682   2019-05-09
Name: Date_of_Journey, Length: 10683, dtype: datetime64[ns]

#### Source

In [98]:
df['Source'].isnull().sum(), df['Source'].dtype

(0, dtype('O'))

In [99]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [100]:
df['Source'].value_counts()

Delhi       4537
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64

#### Destination

In [101]:
df['Destination'].isnull().sum(), df['Destination'].dtype

(0, dtype('O'))

In [102]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [103]:
df['Destination'].value_counts()

Cochin       4537
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64

#### Dep_Time

In [104]:
import re

In [105]:
df['Dep_Time'].str.match(re.compile(r'[^\d:]')).sum()

0

In [106]:
df['Dep_Time'].loc[lambda ser: ser.str.contains("[^\d:]")]

Series([], Name: Dep_Time, dtype: object)

In [107]:
pd.to_datetime(df['Dep_Time']).dt.time

0        22:20:00
1        05:50:00
2        09:25:00
3        18:05:00
4        16:50:00
           ...
10678    19:55:00
10679    20:45:00
10680    08:20:00
10681    11:30:00
10682    10:55:00
Name: Dep_Time, Length: 10683, dtype: object

#### Arrival_Time

In [108]:
df['Arrival_Time'].dtype, df['Arrival_Time'].isnull().sum()

(dtype('O'), 0)

In [109]:
df['Arrival_Time'].loc[lambda ser: ser.str.contains("[^\d:]")]

0        01:10 22 Mar
2        04:25 10 Jun
6        10:25 13 Mar
7        05:05 02 Mar
8        10:25 13 Mar
             ...
10666    19:00 13 Jun
10667    20:20 13 Mar
10672    19:00 28 Jun
10673    04:25 28 May
10674    21:20 13 Mar
Name: Arrival_Time, Length: 4335, dtype: object

In [110]:
(
    df['Arrival_Time']
    .loc[lambda ser: ser.str.contains("[^\d:]")]
    .str.split(" ", n=1)
    .str.get(-1)
    .unique()
)

array(['22 Mar', '10 Jun', '13 Mar', '02 Mar', '10 May', '04 Mar',
       '13 Jun', '28 May', '19 Mar', '07 May', '02 Jun', '16 Jun',
       '19 May', '16 May', '28 Jun', '02 May', '28 Mar', '19 Jun',
       '04 Apr', '25 Mar', '07 Mar', '25 Jun', '07 Jun', '25 May',
       '13 May', '16 Mar', '22 May', '10 Apr', '04 Jun', '20 May',
       '28 Apr', '25 Apr', '10 Mar', '19 Apr', '13 Apr', '02 Apr',
       '23 Mar', '22 Apr', '11 May', '07 Apr', '03 May', '08 Mar',
       '03 Mar', '05 Mar', '22 Jun', '04 May', '26 May', '16 Apr',
       '26 Jun', '29 May', '29 Jun', '29 Mar', '23 May', '17 Jun'],
      dtype=object)

In [111]:
pd.to_datetime(df['Arrival_Time']).dt.time

0        01:10:00
1        13:15:00
2        04:25:00
3        23:30:00
4        21:35:00
           ...
10678    22:25:00
10679    23:20:00
10680    11:20:00
10681    14:10:00
10682    19:15:00
Name: Arrival_Time, Length: 10683, dtype: object

In [112]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

#### Duration

In [113]:
df['Duration'].dtype, df['Duration'].isnull().sum()

(dtype('O'), 0)

In [114]:
df['Duration'].loc[lambda ser: ser.str.contains("[^hm\d ]")]

Series([], Name: Duration, dtype: object)

In [115]:
df['Duration'].loc[lambda ser: ser.str.contains("^[\d]h$")]

53       3h
74       5h
97       3h
130      8h
140      8h
         ..
10496    3h
10512    3h
10529    3h
10530    4h
10680    3h
Name: Duration, Length: 515, dtype: object

In [116]:
df['Duration'].loc[lambda ser: ser.str.contains("^[\d]m$")]

6474    5m
Name: Duration, dtype: object

- Row `6474` has `Duration` only of 5 min which is impossible for any flight. So it should be removed

In [117]:
(
    df['Duration']
    .drop(index=[6474])
    .str.split(" ", expand=True)
    .set_axis(['hour', 'minute'], axis=1)
    .assign(
        hour=lambda df_: (
            df_.hour
            .str.replace('h', '')
            .astype(int)
            .mul(60)
        ),
        minute=lambda df_: (
            df_.minute
            .str.replace('m', '')
            .fillna('0')
            .astype(int)
        ),
    )
    .sum(axis=1)
    .rename('duration_in_m')
    .to_frame()
    .join(df.Duration.drop([6474]))
)

       duration_in_m Duration
0                170   2h 50m
1                445   7h 25m
2               1140      19h
3                325   5h 25m
4                285   4h 45m
...              ...      ...
10678            150   2h 30m
10679            155   2h 35m
10680            180       3h
10681            160   2h 40m
10682            500   8h 20m

[10682 rows x 2 columns]

#### Total Stops

In [118]:
df['Total_Stops'].dtype, df['Total_Stops'].isna().sum()

(dtype('O'), 1)

In [119]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [120]:
df['Total_Stops'].value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [121]:
(
    df['Total_Stops']
    .replace("non-stop", "0")
    .str.replace(" stops?", "", regex=True)
    .pipe(lambda ser: pd.to_numeric(ser))
)

0        0.0
1        2.0
2        2.0
3        1.0
4        1.0
        ...
10678    0.0
10679    0.0
10680    0.0
10681    0.0
10682    2.0
Name: Total_Stops, Length: 10683, dtype: float64

#### Additional_Info

In [122]:
df['Additional_Info'].dtype, df['Additional_Info'].isna().sum()

(dtype('O'), 0)

In [123]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [124]:
df['Additional_Info'].value_counts()

No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: Additional_Info, dtype: int64

## Cleaning Operations

In [125]:
def convert_to_minute(ser):
    return (
        ser
        .str.split(" ", expand=True)
        .set_axis(['hour', 'minute'], axis=1)
        .assign(
            hour=lambda df_: (
                df_.hour
                .str.replace('h', '')
                .astype(int)
                .mul(60)
            ),
            minute=lambda df_: (
                df_.minute
                .str.replace('m', '')
                .fillna('0')
                .astype(int)
            ),
        )
        .sum(axis=1)
    )

In [126]:
def clean_data(df):
    return (
        df
        .drop(index=[6474])
        .drop_duplicates()
        .assign(**{
            col: df[col].str.strip()
            for col in df.select_dtypes(include='O').columns
        })
        .rename(columns=str.lower)
        .assign(
            airline=lambda df_: (
                df_.airline
                .str.replace(" Premium economy", "")
                .str.replace("Business", "")
                .str.title()
            ),
            date_of_journey=lambda df_: pd.to_datetime(df_.date_of_journey, dayfirst=True),
            dep_time=lambda df_: pd.to_datetime(df_.dep_time).dt.time,
            arrival_time=lambda df_: pd.to_datetime(df_.arrival_time).dt.time,
            duration=lambda df_: df_.duration.pipe(convert_to_minute),
            total_stops=lambda df_: (
                df_.total_stops
                .replace("non-stop", "0")
                .str.replace(" stops?", "", regex=True)
                .pipe(lambda ser: pd.to_numeric(ser))
            ),
            additional_info=lambda df_: df_.additional_info.replace("No info", "No Info")
        )
        .drop(
            columns=['route'],
        )
    )

## Split the Data

In [127]:
df_cleaned = clean_data(df)

In [128]:
df_cleaned.shape

(10462, 10)

In [129]:
X = df_cleaned.drop(columns="price")
y = df_cleaned["price"].copy(deep=True)

In [130]:
X.shape, y.shape

((10462, 9), (10462,))

In [131]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [132]:
X_train.shape, y_train.shape

((8369, 9), (8369,))

In [133]:
X_test.shape, y_test.shape

((2093, 9), (2093,))

## Export the Subsets

In [145]:
def export_data(X, y=None, name="file"):
    file_name = f"{name}.csv"
    if y is None:
        file_path = os.path.join(BASE_DIR, DATA_DIR, PROCESSED_DATA_DIR, file_name)
        X.to_csv(file_path, index=False)
    else:
        file_path = os.path.join(BASE_DIR, DATA_DIR, WORKING_DATA_DIR, file_name)
        X.join(y).to_csv(file_path, index=False)
    return pd.read_csv(file_path).head()

In [146]:
export_data(df_cleaned, name="flights_price_data_cleaned")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Indigo,2019-03-24,Banglore,New Delhi,22:20:00,01:10:00,170,0.0,No Info,3897
1,Air India,2019-05-01,Kolkata,Banglore,05:50:00,13:15:00,445,2.0,No Info,7662
2,Jet Airways,2019-06-09,Delhi,Cochin,09:25:00,04:25:00,1140,2.0,No Info,13882
3,Indigo,2019-05-12,Kolkata,Banglore,18:05:00,23:30:00,325,1.0,No Info,6218
4,Indigo,2019-03-01,Banglore,New Delhi,16:50:00,21:35:00,285,1.0,No Info,13302

In [147]:
export_data(X_train, y_train, "train_data")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Indigo,2019-06-15,Delhi,Cochin,05:35:00,08:50:00,195,0.0,No Info,5601
1,Jet Airways,2019-05-09,Delhi,Cochin,10:00:00,19:00:00,540,1.0,No Info,15554
2,Spicejet,2019-05-18,Mumbai,Hyderabad,13:15:00,14:45:00,90,0.0,No Info,2227
3,Indigo,2019-05-06,Kolkata,Banglore,08:10:00,13:00:00,290,1.0,No Info,5069
4,Air India,2019-03-21,Delhi,Cochin,23:00:00,19:15:00,1215,1.0,No Info,6745

In [148]:
export_data(X_test, y_test, "test_data")

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-06,Banglore,New Delhi,08:00:00,08:15:00,1455,1.0,No Info,17996
1,Spicejet,2019-06-06,Kolkata,Banglore,22:20:00,00:40:00,140,0.0,No Info,3873
2,Indigo,2019-03-18,Kolkata,Banglore,05:30:00,08:20:00,170,0.0,No Info,4462
3,Indigo,2019-06-27,Chennai,Kolkata,19:35:00,21:55:00,140,0.0,No Info,3597
4,Indigo,2019-05-06,Kolkata,Banglore,15:15:00,17:45:00,150,0.0,No Info,4804